

<head>

    <meta charset="UTF-8">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/css/admin_login.css">

</head>

<body> <!-- partial:index.partial.html -->

    <section>


        <div class="signin">

            <div class="content">
                <form action="/backend/adminLogin" method="post">

                    <h2>Sign In</h2>

                    <div class="form">

                        <div class="inputBox">

                            <input type="email" required> <i>Email</i>

                        </div>

                        <div class="inputBox">

                            <input type="password" required> <i>Password</i>

                        </div>
                        <div class="inputBox">

                            <input type="submit" value="Login">

                        </div>

                    </div>

                </form>
            </div>

        </div>

    </section> <!-- partial -->

</body>

