main{
  background-color: rgb(204, 218, 231);
}
h1 {
    color: #348cb2;
    margin-left: 45%;
    font-size: 30px;
    padding-top: 100px;

    text-decoration: underline;
}

.about-section {
    max-width: 1400px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    color: #348cb2

}

.left-image {
    width: 700px;
    height: 444px;
    margin-right: 20px;
    margin-top: 0%;
    border: 2px solid #348cb2;

}

.right-content {
    flex: 1;
    border: 2px solid #348cb2;
    padding: 45px;
    max-width: fit-content;
    font-size: 121%;
    margin-top: 0%;
}