body{
  padding-top: 100px;
  background-color: rgb(204, 218, 231);

}
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

form {
  width: 700px;
  padding: 40px;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: black;
}