/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(/static/images/bgimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  margin-top: 50px;
  left: 30%;
  position: relative;
  width: 350px;
  height: 450px;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
}

.wrapper.active {
  height: 550px;
}

.wrapper h1 {
  font-size: 2em;
  color: #b7cfe1;
  text-align: center;
  margin-bottom: 40px;
}
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  background: #162938;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  cursor: pointer;
  z-index: 1;
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper input {
  color: whitesmoke;
  font-size: 20px;
}

.wrapper .input-data {
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  background: transparent;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-30px);
  font-size: 12px;
  color: #ffffff;
}
.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(254, 254, 254);
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #2a14ba;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scaleX(1);
}

.input-data .icon {
  position: absolute;
  right: 0;
  font-size: 1.2em;
  color: #d0dee8;
  line-height: 50px;
  cursor: pointer;
}

.remember-forget {
  font-size: 0.9em;
  color: #bad9f0;
  font-weight: 500;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input {
  accent-color: #162938;
  margin-right: 4px;
}

.remember-forget a {
  color: #bad9f0;
  text-decoration: none;
}
.remember-forget a:hover {
  text-decoration: underline;
  color: dimgrey;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #162938;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}
.btn:hover {
  background: #162938;
  color: white;
}

.login-register {
  font-size: 0.9em;
  color: #bad9f0;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #bad9f0;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
  color: dimgrey;
} */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.form-box{
  display: flex;
  justify-content: center;
  margin-top: 180px;
}
body{
  background-color: rgb(204, 218, 231);
  
}
input {
  margin-bottom: 8px;
  color: #555;
  width: 100%;
}
.btn1{
  background-color: #348cb2;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 5px;
}