

<link rel="stylesheet" href="/static/css/contact.css">




{{!-- <div class="wrapper">
  <div class="title">
    <h1>contact us form</h1>
  </div>
  <div class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="Name">
      <input type="text" class="input" placeholder="Email Address">
      <input type="text" class="input" placeholder="Phone">
      <input type="text" class="input" placeholder="Subject">
    </div>
    <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div>
  </div>
</div> --}}
 <section id="contact">
      <h3 style="text-align: center; text-decoration:blue; color: black;">Get in Touch</h3>
      
      <form id="contactForm" onsubmit="return validateForm()">
        <label for="name">Name*</label>
        <input type="text" id="name" name="name">
        <span id="nameError" class="error"></span>
    
        <label for="phone">Phone*</label>
        <input type="tel" id="phone" name="phone">
        <span id="phoneError" class="error"></span>
    
        <label for="email">Email*</label>
        <input type="email" id="email" name="email">
        <span id="emailError" class="error"></span>
    
        <label for="message">Comment or Review*</label>
        <textarea id="message" name="message"></textarea>
        <span id="messageError" class="error"></span>
    <br>
        <input type="submit" value="Submit">

      </form>

    </section>