<link rel="stylesheet" href="/static/css/home.css">

{{!-- <div class="homeContainer">
    <div class="topSection">
        <div class="sectionLeft">
            <p class="paragraph2">Are you searching for a new Job?</p>
            <p class="paragraph1">Explore Thousands of Opportunities in the healthcare, finance and business industries awaiting your expertise.</p><br>
            <div class="shopBtn">
                <button type="submit" class="btnShop"><a href="/jobs">Explore Now</a></button>
            </div>
        </div>
        <div class="imageSection1">
            <img src="/static/images/home.png" alt="Loading">
        </div>
    </div>
  

</div> --}}
<div class="containerHome" style="margin-left: 35px">
    <div class="slogen">
        <h1 style="font-size: 70px;">Are you searching for a new Job?</h1>
         <h5 style="font-size: 25px;" class="paragraph1">Explore Thousands of Opportunities in the healthcare, finance and business industries awaiting your expertise.....</h5>
              <div class="shopBtn">
                <a href="/jobs">Explore Now</a>
            </div>
    </div>
    <div>
        <img style="width: 650px; height:450px" src="/static/images/home.png" alt="...">
    </div>
</div>







{{!-- <div class="cardSection">
    <div class="menSection">
        <a href="/mens">
            <img src="./images/menModel1.jpg" alt="Loading...">
            <p>Men's Fashion <i class="fa-solid fa-arrow-right"></i></p>
        </a>
    </div>

</div> --}}